@import '../../App.scss';

.intro-container {
  width: 85%;
  margin: auto;
  margin-top: $top ;
  padding: 2rem 0;
}

.intro-section {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 4rem;
}

.intro-section.reverse {
  flex-direction: row-reverse;

}

.intro-image {
  flex: 1;
}

.intro-image img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.intro-text {
  flex: 1;
  padding: 2rem;

}

.intro-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.intro-text p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

.intro-btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: $First_Color;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1rem;
  transition: 0.3s;
}

.intro-btn:hover {
  background-color: $Second_Color;
}

.online-steps {
  width: 100%;
  margin: 2rem auto;
  background: $Second-Color;
  padding: 2rem 1rem;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

  h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: $Font-Color;
    text-align: center;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $Font-Color;


    &::before {
      content: "•";
      font-size: 1.4rem;
      flex-shrink: 0;
      padding: 10px
    }
  }
}



@media (max-width: 768px) {

  .intro-section,
  .intro-section.reverse {
    flex-direction: column;
  }

  .intro-text {
    padding: 2rem 0;
    text-align: center;
    
  }
  .online-steps{
   
    margin-top: -40px;
  }
  .intro-section {
  gap: 0px;
 
}
.intro-container {
  padding: 1rem 0;
}
}