@import '../../App.scss';
@import 'bootstrap/dist/css/bootstrap.min.css';



.Btn {
  @include btn;
  display: block;
  margin-left: auto;
  
}

// ---------------------- Modal Style ----------------------


.modal-content {
  border-radius: 12px;
  border: 3px solid $Second-Color;
  padding: 1.5rem;
  background-color: #fff;
}

.modal-header {
  border-bottom: 2px solid $Second-Color;

  .modal-title {
    color: $First-Color;
    font-weight: 700;
    font-size: 1.5rem;
  }

  .btn-close {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(170deg);
  }
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .Form {
    label {
      font-weight: 600;
      color: $First-Color;
      margin: 10px 0;
      display: block;
    }


    input:not([type="radio"]),
    textarea {
      width: 100%;
      padding: 0.5rem 0.75rem;
      border: 2px solid $Second-Color;
      border-radius: 8px;
      outline: none;
      transition: all 0.2s;
      background-color: #fff;

      &:focus {
        border-color: $First-Color;
        box-shadow: 0 0 5px rgba($First-Color, 0.5);
      }
    }

    .img {
      display: block;
      height: 120px;
      width: 120px;
      margin-top: 10px;
      object-fit: cover;

    }

    .checkBox {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      input[type="checkbox"] {
        width: 1rem;
        height: 1rem;
      }

      label {
        display: inline-block;

      }
    }

    .required,
    .error {
      color: red;
    }

    .description {
      font-size: 13px;
      font-style: italic;
    }

    .selected-categories {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
    }

    .tag {
      background: #e6f0ff;
      color: #333;
      padding: 5px 10px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      font-size: 14px;
    }

    .tag button {
      margin-left: 8px;
      border: none;
      background: transparent;
      cursor: pointer;
      color: red;
      font-weight: bold;
    }

  }

}

.modal-footer {
  border-top: 2px solid $Second-Color;
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;

  .btn {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;

    &.btn-secondary {
      background-color: #f5f5f5;
      color: $Second-Color;
      border: 2px solid $Second-Color;

      &:hover {
        background-color: $Second-Color;
        color: #fff;
      }
    }

    &.btn-primary {
      background-color: $First-Color;
      color: #fff;
      border: 2px solid $First-Color;

      &:hover {
        background-color: darken($First-Color, 10%);
        border-color: darken($First-Color, 10%);
      }
    }
  }
}


@media (max-width: 790px) {
  .Model .Form .task-level-icons {
    flex-direction: column;

    span {
      margin-top: 5px;
    }
  }
}